.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 50px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .admin-button,
  .logout-button {
    padding: 8px 16px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-button:hover,
  .logout-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }